* {
    padding: 0;
    margin: 0
}

body {
    background-color: #ececec;
    font-family: Inconsolata, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
}

.navigation {
    border-bottom: 1px grey solid;
    background-color: white;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    padding-left: 20px;
    
}

.navigation button{
    color: grey;
    background-color: transparent;
    padding: 1px;
    margin-left: 50px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.cell-container {
    margin-top: 2%;
    border-top: 2px grey solid;
    border-right: 2px grey solid;
    border-bottom: 2px grey solid;
    border-left: 7px yellow solid;
    padding: 10px;
    border-radius: 10px;
}

.cell-row {
    display: flex;
}

.in-out {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.CodeMirror {
    border: 1px grey solid;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
  }

.code-output {
    margin-left: 6%;
    font-size: 14px;
    margin-top: -2%;
}